<main class="container">
    <h1>Habit Tracker</h1>
    <div class="row">
        <section class="col-lg-6">
            <input [(ngModel)]="keyword" /><button class="btn btn-primary" (click)="search()">Search</button>
            <ul class="list-group">
                <li *ngFor="let habit of HABITS" class="list-group-item">
                    <h4 class="list-group-item-heading" (click)="selectHabit(habit)">{{habit.name}}</h4>
                    <p class="badge bg-primary">{{habit.category}}</p>
                    <p>{{habit.description}}</p>
                </li>
            </ul>
        </section>
        <section class="col-lg-6">
            <form>
                <fieldset class="form-group">
                    <label for="name" class="control-label">Name: *</label>
                    <input required [(ngModel)]="name" name="name" />
                </fieldset>
                <fieldset class="form-group">
                    <label for="category" class="control-label">Category: *</label>
                    <input required [(ngModel)]="category" name="category" />
                </fieldset>
                <fieldset class="form-group">
                    <label for="description" class="control-label">Description:</label>
                    <textarea [(ngModel)]="description" name="description"></textarea>
                </fieldset>
                <input [(ngModel)]="_id" name="_id" type="hidden" />
                <button class="btn btn-primary offset-6 m-1" (click)="addHabit()" *ngIf="!_id">Save</button>
                <button class="btn btn-primary offset-6 m-1" (click)="updateHabit()" *ngIf="_id">Save</button>
                <button class="btn btn-primary m-1" (click)="clearForm()">Reset</button>
                <button class="btn btn-danger" *ngIf="_id" (click)="deleteHabit(_id)">Delete</button>
            </form>
        </section>
    </div>
</main>

