<main class="container">
    <h1>Habit Tracker</h1>
    <div class="row">
        <section class="col-lg-6">
            <ul class="list-group">
                <li *ngFor="let habit of HABITS" class="list-group-item">
                    <h4 class="list-group-item-heading">{{habit.name}}</h4>
                    <p class="badge bg-primary">{{habit.category}}</p>
                    <p>{{habit.description}}</p>
                </li>
            </ul>
        </section>
        <section class="col-lg-6">
            <form>
                <fieldset class="form-group">
                    <label for="name" class="control-label">Name: *</label>
                    <input required [(ngModel)]="name" name="name" />
                </fieldset>
                <fieldset class="form-group">
                    <label for="category" class="control-label">Category: *</label>
                    <input required [(ngModel)]="category" name="category" />
                </fieldset>
                <fieldset class="form-group">
                    <label for="description" class="control-label">Description:</label>
                    <textarea [(ngModel)]="description" name="description"></textarea>
                </fieldset>
                <button class="btn btn-primary offset-6" (click)="addHabit()">Save</button>
            </form>
        </section>
    </div>
</main>

